
body {
  background: #565656;
  color: #fff;
}

/* General */

.bottom-border {
  border-bottom: 3px solid #76323F;
}

.float-left {
  float: left;
}

.float-right {
  clear: right;
  float: right;
}

.monospace {
  font-family: monospace;
}

/* Banner Styling */

.banner {
  margin-bottom: 15px;
}

.banner-bottom-border {
  border-bottom: 5px solid #76323F;
}

.banner-img {
  max-height: 50vh;
  border: 5px solid #CAEBF2;
  border-radius: 2%;
}

/* Picture Section Styling */

.picrow {
  padding-bottom: 15px;
}

/* Where I'm From/Do section */

.text-squisher {
  width: 50%;
}

.dofromrow {
  background: #2E434A;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* About Section */

.about {
  background: #C7282B;
}

a {
  color: #fff;
  text-decoration: underline;
}

/* Projects Section */

.project-titles {
  color: #BBC1ED;
}


/* Contact Section */

.contact {
  background: #44446E;
}

/* Footer */

.footer {
  background: #00754E;
}

.footer p {
  margin-top: 5px;
}
